$color_apple_core : #DCC7AA

$color_apricot : #F7883F

$color_blueberry : #6B7A8F

$color_electric : #4CDEF5

$color_call_to_action : #ff55fa
/* yellow/orange/green/pink */

$color_background: #f6f2f3
