@import "colors"

.c-article-height
  height: 200px

.c-article-content
  padding-top: 40px
  padding-bottom: 20px

.call_to_action
  color: $color_background
  background-color: $color_call_to_action
  border-radius: 5px
  padding: 15px
  font-size: larger

body
  background-color: $color_background
